<div class="card mx-auto" style="width: 50rem;" >
  <div class="card text-center">
    <h3 class="card-header">Connect your accounts to AutoArtist!</h3>
  </div>
  <div class="card-block" style="padding: 25px;">
    <h4 class="card-title">Youtube</h4>
    <p class="card-text">Connect your youtube account so you can upload your tracks</p>
    <a href="/auth/ConnectYoutube" class="btn btn-primary">Auth</a>
  </div>
</div>